@import '../../assets/styles/main.scss';

header {
  color: $main-color;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  left: 0;
  top: -16px;
  margin: auto;
  max-width: 1440px;
  position: absolute;
  right: 0;
  width: 100;
}

.left-header {
  align-items: center;
  display: flex;
  gap: 40px;
  margin: 0 20px;

  ul {
    display: flex;
    gap: 32px;
    list-style: none;
    li {
      display: inline-block;
      a {
        @include link-hover($main-color, $shadow-color, 5px);
        font-size: 1.05rem;
        color: $main-color;
        text-decoration: none;
      }
    }
  }
}

.rigth-header {
  align-items: center;
  display: flex;
  gap: 23px;
  margin: 0 32px;
  .btn-sing-in {
  @include link-hover($main-color, $shadow-color, 2px);
  color: $main-color;
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 10px
}
  .btn-share-host {
    @include btn-style($btn-primary)
  }
}

// Usar Media Querry
