@import '../../assets/styles/main.scss';

.divider {
  @include divider();
}

.section1 {
  @include dual-wrapper();
  gap: 4vw;
  margin: 120px 9vw 120px 16vw;
  & > img {
    width: 53%;
  }

  @include breakpoint(930px) {
    @include dual-tablet;
    flex-direction: column-reverse;
    gap: 24px;
    & > img {
      width: 70vw;
    }
  }

  @include breakpoint(480px) {
    @include dual-phone;
    & > img {
      width: 85vw;
    }
  }
}

.section2 {
  @include column-wrapper();
  margin: 64px auto;
  h2 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  p {
    font-size: 1.15rem;
    line-height: 24px;
    margin: 16px 0;
  }
  .forms {
    display: flex;
    gap: 12px;
    justify-content: center;
    input {
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      padding: 0 20px;
      height: 44px;
    }
    .submit {
      @include btn-style($btn-primary);
      height: 44px;
      margin: 0;
    }
  }

  @include breakpoint(930px) {
    @include column-tablet;
    .forms {
      flex-direction: column;
      gap: 10px;
    }
  }

  @include breakpoint(480px) {
    @include column-phone;
  }
}

.section3 {
  @include dual-wrapper();
  gap: 3vw;
  margin: 96px 16vw;
  & > img {
    width: 31.5vw;
  }
  @include breakpoint (930px) {
    @include dual-tablet;
    flex-direction: column;
    gap: 40px;
    &>img {
      width: 60vw;
    }
  }

  @include breakpoint (480px) {
    @include dual-phone;
    margin-inline: 4.4vw;
    .section-text{
      h2 {
        margin: 0 19vw;
      }
      &>img {
        width: 86.5vw;
      }
    }
    
  }
}

.section4 {
  @include column-wrapper();
  margin: 96px 23vw;
  .section-text {
    gap: 40px;
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  & > img {
    align-self: center;
  }

  @include breakpoint (930px) {
    @include column-tablet;
    
  }

  @include breakpoint (480px) {

  }
}

.section5 {
  @include column-wrapper();
  margin: 96px 23vw;
  .section-text {
    gap: 40px;
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
    & > img {
      margin-bottom: 40px;
    }
  }
}
