@import '../../assets/styles/main.scss';

.divider {
  @include divider();
}

.section1 {
  @include dual-wrapper();
  gap: 4vw;
  margin: 120px 9vw 120px 16vw;
  & > img {
    width: 53%;
  }
}

.section2 {
  @include column-wrapper();
  margin: 64px auto;
  h2 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  p {
    font-size: 1.15rem;
    line-height: 24px;
    margin: 16px 0;
  }
  .forms {
    display: flex;
    gap: 12px;
    justify-content: center;
    input {
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      padding: 0 20px;
      height: 44px;
    }
    button {
      @include btn-style($btn-primary);
      height: 44px;
      margin: 0;
    }
  }
}

.section3 {
  @include dual-wrapper();
  gap: 3vw;
  margin: 96px 16vw;
  & > img {
    width: 31.5vw;
  }
}

.section4 {
  @include column-wrapper();
  margin: 96px 23vw;
  .section-text {
    gap: 40px;
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  & > img {
    align-self: center;
  }
}

.section5 {
  @include column-wrapper();
  margin: 96px 23vw;
  .section-text {
    gap: 40px;
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
    &>img {
      margin-bottom: 40px
    }
  }
}
