@import '../../assets/styles/main.scss';

.section {
  align-items: center;
  background-color: $main-color;
  border: 1px solid #dfdfdf;
  display: flex;
  gap: 32px;
  height: 114px;
  justify-content: center;
  .info {
    display: flex;
    align-items: center;
    a {
      margin: 2px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}

@include breakpoint(930px) {
  .section{
    flex-direction: column;
    height: 216px;
    gap: 12px;
    .info {
      flex-direction: column;
      text-align: center;
      gap: 12px;
    }
  }
}

@include breakpoint(480px) {
  .section {
    .info {
      h2 {
        max-width: 66%;
      }
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
