@import '../../assets/styles/main.scss';

.section {
  align-items: center;
  background-color: $main-color;
  border: 1px solid #dfdfdf;
  display: flex;
  gap: 32px;
  height: 114px;
  justify-content: center;
  .info {
    display: flex;
    align-items: center;
    a {
      margin: 2px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}
