// Collors
$main-color: #FFF;
$shadow-color: #000;


// Interaction
@mixin link-hover($color, $shadow) {
    &:hover{
      color: $main-color;
      text-shadow: 2px 2px $shadow;
      border-bottom: 2px solid $color;
      transition: .2s;
    }
  }
  
  @mixin btn-click {
    &:after {
      content: '';
      background: #f1f1f1;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s;
    }
    &:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }
  